# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# NetBeans IDE
nbproject/private/
build/
dist/
nbactions.xml.bak

# IntelliJ / VS Code
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Java
*.class
*.jar
*.war
*.ear
*.log

# PostgreSQL data (nunca versionar dados locais)
*.dat
